/* 
    Palette URL: http://paletton.com/#uid=13v0u0kihNr7hYjdkTrmwGdqQyB 
    Color src: https://www.color-hex.com/color-palette/2449
*/

@import url("disposition.css");

@font-face {
    font-family: 'scifi';
    src: url('fonts/scifi.ttf');
}
@font-face {
    font-family: 'roboto';
    src: url('fonts/roboto.ttf');
}

:root{
    --defaultBackgournd:#b7dee9;
    --headerBackground:#00A300;
    --sectionBackground:#7b8ba5;
    --subsectionBackground:#9FED9F;
    
    --headerColor:#FFFFFF;
    --titleColor:#74ff78;
    --subsectionTitleColor:#00A300;
    --textColor:#000000;
    --subsectionTextColor:#000000;
    
    --titleFont:'scifi';
    --textFont:'roboto';
}

/*Background*/
html{
  background-color: var(--defaultBackgournd);
}

#top{
  background-color: var(--headerBackground);
}

.section{
    background-color: var(--sectionBackground);
}

.need, .subsection{
    background-color: var(--subsectionBackground);
}

/*Text color*/
#top > a:link, #top > a:visited {
  color: var(--headerColor);
}

.section_title{
    color: var(--titleColor);
}
.subsection_title{
    color: var(--subsectionTitleColor);
}

p, ol{
    color: var(--textColor);
}

p.need_value:nth-child(7), p.need_value:nth-child(5), .subsection_text{
    color: var(--subsectionTextColor);
}

/*Font*/
#top{
    font-size: 23;
    font-family: var(--titleFont), sans-serif;
}

.section_title, .subsection_title{
    font-size: 30;
    font-weight: 300;
    font-family: var(--titleFont), sans-serif;
}

.need_title.main, .need_value.main, .need_title:nth-child(4), p.need_value:nth-child(5), .need_title:nth-child(6){
    font-size: 25;
    font-weight: 280;
    font-family: var(--titleFont), sans-serif;
}

p, ol{
  text-rendering: optimizeLegibility;
  font-family: var(--textFont), sans-serif;
}


