/* 
    Color src:  https://www.color-hex.com/color-palette/184
                https://www.schemecolor.com/black-gold-color-palette.php
*/

@import url("disposition.css");

:root{
    --defaultBackgournd:#CCCCCC;
    --headerBackground:#111111;
    --sectionBackground:#777777;
    --subsectionBackground:#E7D291;
    
    --headerColor:#FFDD03;
    --titleColor:#FFDD03;
    --subsectionTitleColor:#FFFFFF;
    --textColor:#FFFFFF;
    --subsectionTextColor:#000000;
    
    --titleFont:"Century";
    --textFont:"Century";
}

/*Background*/
html{
  background-color: var(--defaultBackgournd);
}

#top{
  background-color: var(--headerBackground);
}

.section{
    background-color: var(--sectionBackground);
}

.need, .subsection{
    background-color: var(--subsectionBackground);
}

/*Text color*/
#top > a:link, #top > a:visited {
  color: var(--headerColor);
}

.section_title{
    color: var(--titleColor);
}
.subsection_title{
    color: var(--subsectionTitleColor);
}

p, ol{
    color: var(--textColor);
}

p.need_value:nth-child(7), p.need_value:nth-child(5), .subsection_text{
    color: var(--subsectionTextColor);
}

/*Font*/
#top{
    font-size: 23;
    font-weight: bold;
    font-family: var(--titleFont), arial;
}

.section_title, .subsection_title{
    font-family: var(--titleFont), arial;
}

.need_title.main, .need_value.main, .need_title:nth-child(4), p.need_value:nth-child(5), .need_title:nth-child(6){
    font-size: 25;
    font-weight: 280;
    font-family: var(--titleFont), arial;
}

p, ol{
  text-rendering: optimizeLegibility;
  font-family: var(--textFont), sans-serif;
}