/* 
    Palette URL: http://paletton.com/#uid=13v0u0kihNr7hYjdkTrmwGdqQyB 
    Color src: https://magnet.xataka.com/
*/

@import url("disposition.css");

:root{
    --defaultBackgournd:#E1E8ED;
    --headerBackground:#64AAD8;
    --sectionBackground:#4290C3;
    --subsectionBackground:#8EC5E9;
    
    --headerColor:#FFFFFF;
    --titleColor:#FFFFFF;
    --textColor:#14171A;
    
    --titleFont:"Segoe UI";
    --textFont:"Georgia";
}

/*Background*/
html{
  background-color: var(--defaultBackgournd);
}

#top{
  background-color: var(--headerBackground);
}

.section{
    background-color: var(--sectionBackground);
}

.need, .subsection{
    background-color: var(--subsectionBackground);
}

/*Text color*/
#top > a:link, #top > a:visited {
  color: var(--headerColor);
}

.section_title, .subsection_title{
    color: var(--titleColor);
}

p, ol{
    color: var(--textColor);
}

/*Font*/
#top{
    font-size: 23;
    font-weight: bold;
    font-family: var(--titleFont);
}

.section_title, .subsection_title{
    font-family: var(--titleFont), sans-serif;
}

.need_title.main, .need_value.main, .need_title:nth-child(4), p.need_value:nth-child(5), .need_title:nth-child(6){
    font-size: 25;
    font-weight: 280;
    font-family: var(--titleFont), sans-serif;
}

p, ol{
  text-rendering: optimizeLegibility;
  font-family: var(--textFont), sans-serif;
}


